<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="mt-5 ">
      <h1 class="d-flex justify-content-center text-danger">轉跳失敗</h1>
      <p class="mt-3 d-flex justify-content-center">找不到該網址或系統忙碌中</p>
      <p class="d-flex justify-content-center"> 請確認網址或稍後再試</p>
      <form action="/" method="get" class="d-flex justify-content-center"> 
        <button type="submit" class="btn btn-danger ml-2">在縮一次網址</button>
      </form>
    </div>
  </div>
</div>