<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="title">
      <h1 class="mt-5 d-flex justify-content-center">URL shortener</h1>
      <img src="https://png.pngtree.com/element_our/png_detail/20181020/linked-icon-design-vector-png_139137.jpg" alt=""
        width="300" height="300">
      <h4 class="d-flex justify-content-center">Success! Please use this link:</h4>
      <div class="link">
        <a id="copy" href="{{url}}" target="_blank">localhost:3000/{{short_name}}</a>
      </div>
      <div class="button d-flex justify-content-center">
        <button type="button" class="btn btn-primary mt-2" onclick="copyEvent('copy')">Copy</button>
        <script>
          function copyEvent(id) {
            const str = document.getElementById(id);
            window.getSelection().selectAllChildren(str);
            document.execCommand("Copy")
          }
        </script>
      </div>
    </div>
  </div>
</div>